@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
    --c-primary: #7e7cd3;
    --c-secondary: #6664b4;
    --c-background: #222330;
    --c-background-secondary: #333549;
    --c-grey: #555555;
    --c-text: #f8f8f8;
}

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
    background-color: var(--c-background);
    color: var(--c-text);
}

h1 {
    font-weight: 500;
}

a {
    font-weight: 500;
    color: var(--c-text);
    text-decoration: none;
    transition: all 0.1s;
    padding-bottom: 0.25rem;
}

a:hover {
    color: white;
}
