.container {
    width: fit-content;
}

.icon_toggle_visibility {
    fill: var(--c-grey);
    position: relative;
    float: right;
    margin-left: -2rem;
    margin-top: 0.8rem;
    left: -1rem;
    z-index: 2;
    cursor: pointer;
    transition: all 0.1s;
}

.icon_toggle_visibility:hover {
    fill: var(--c-background-tertiary);
}
