#form_join {
    margin-top: 5rem;
}

#header_enter_session {
    color: var(--c-light-grey);
}

#header_session_title {
    margin: 0;
    font-size: 2.5rem;
}

#code {
    font-weight: 500;
    color: white;
}

#code::before {
    content: "#";
}

#btn_continue {
    margin-top: 0.5rem;
}

#btn_continue svg {
    fill: var(--c-primary);
}
