.tank {
    width: 500px;
    height: 2rem;
}

.liquid {
    background-color: var(--c-light-grey);
    height: 100%
}

.top_header_container {
    display: flex;
    flex-direction: row;
}

.top_header_q {
    text-align: center;
}

.main_container {
    padding: 2rem;
    background-color: var(--c-background-secondary);
    max-width: 80%;
}

@media screen and (max-width: 800px) {
    .main_container {
        max-width: 100%;
    }
}

.header_q_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1rem
}

.top_header_text {
    text-align: center;
}